<!DOCTYPE html>
<html>
<head>
  <title>CheeseMonger</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header>
    <nav>
      <%= react_component("Navigation", { logged_in: session[:user_id] }) %>
    </nav>
  </header>
  <div class="container">

    <%= yield %>

  </div>

</body>
</html>
